
<h2>
  Welcome to BookPlus
</h2>


<h3>
  BookPlus - The Online Collaborative Book Writing
</h3>

<p>

<div id=book_plus_home>
    <div class="box_00">

      <h2>

        books
      </h2>
    </div>

    <div class="box_01">
      <h2>

        books
      </h2>
    </div>



</div>
<br />


<div id=editor_placeholder>
<%= render "home/editor"%>
</div>



