<div id="partial-page-wrapper">

  <div class="row">
	<div class="col-lg-12">
	  <div class="page-header">
		<h1 id="Chunk">Diffing</h1>
	  </div>
	</div>
  </div>
  <!-- /.row -->


  <div class="row">
	<div class="col-lg-12">
	  <%= @diff %>

	</div>
	<!-- /.container-fluid -->
  </div>
  <!-- /.row -->

</div>

