<div class="container">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4">
      <img class="img-circle" data-src="holder.js/140x140">

      <div class="row">
        <h2>Online</h2>

        <p>Webanwendung für das Zusammenschreiben</p>

      </div>
    </div>
    <!-- /.span4 -->
    <div class="col-md-4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>Collaborative</h2>

      <p></p>

    </div>
    <!-- /.span4 -->
    <div class="col-md-4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>Innovative</h2>

      <p>Erweiterte Versionsverwaltung.</p>

      <p>Hierarchisches Datenmodell.</p>

      <p>AutoSave.</p>

    </div>
    <!-- /.span4 -->
  </div>
  <!-- /.row -->

  <hr class="featurette-divider">
</div>