<div class="container">
  <!-- Three columns of text below the carousel -->
  <div class="row">
	<div class="col-md-4">
	  <img class="img-circle" data-src="holder.js/140x140">

	  <div class="row">
		<h2>Online</h2>

		<p>Webanwendung für das Zusammenschreiben</p>
	  </div>
	</div>
	<!-- /.span4 -->
	<div class="col-md-4">
	  <img class="img-circle" data-src="holder.js/140x140">

	  <h2>Hierarchisches Datenmodell</h2>

	  <p>Einteilung von Büchern in Kapitel</p>
	</div>
	<!-- /.span4 -->
	<div class="col-md-4">
	  <img class="img-circle" data-src="holder.js/140x140">

	  <h2>Erweiterte Versionsverwaltung</h2>

	  <p>Übersicht über die Versionen eines Textabschnittes (inkl. Datum und Autor)</p>

	  <p>Rückkehr zu einer vorherigen Version</p>

	  <p>Versionsvergleich (Inhalt)</p>
	</div>
	<!-- /.span4 -->
  </div>
  <!-- /.row -->
</div>