<div class="col-lg-2 col-sm-1">

  <!-- iterate over each book and display in a pill -->
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">&nbsp;Books</a></li>

    <li><a href="#">&nbsp;Account</a></li>
  </ul>

  <hr class="featurette-divider">

  <div class="navbar-right">
    <%= link_to(raw('Add'), "#myModal", :class => "btn btn-primary", :data => {:toggle => "modal"}) %>


  </div>


</div>
