<div id="partial-page-wrapper">

  <div class="col-lg-12">
    <h1 id="buttons" class="page-header">Create new books</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        ola
        <%= params %> <br>
        <%= render "books/form_new" %>


      </div>
    </div>

  </div>

</div>

