<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">


	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	  <div class="navbar-form navbar-left" role="add">
		<%= link_to(raw('diffing'), diff_version_path(), :class => "btn btn-primary", :data => {:versions => @chunk.versions.scoped}) %>
	  </div>
	</div>


  </div>
</nav>