<%= params %>
<div id="partial-page-wrapper">
  <div class="col-lg-12">
	<h1 id="buttons" class="page-header">Editing chunk</h1>

	<div class="panel panel-default">
	  <div class="panel-body">
		<%= render 'form' %>
	  </div>
	</div>

	<ul class="pager">
	</ul>
  </div>
</div>



