<div id="partial-page-wrapper">

  <div class="col-lg-12">
    <h1 id="buttons" class="page-header">Create new chunks</h1>

    <div class="panel panel-default">
      <div class="panel-body">

        <%= render 'form' %>

        <%= button_to I18n.t('views.back'), books_path, method: :get %>

      </div>
    </div>

  </div>

</div>
