.carousel-caption {
    left: 10%;
!important;
    right: 60%;
!important;
    padding-bottom: 10%;
!important;
    color: #262626;
}

.white {
    color: ghostwhite;
    margin-right: 10px;
}

.navbar-right {
    margin-right: 12px;
!important;
}

.navbar-form.navbar-right:last-child {
    margin-right: initial;
!important;
}

.modal-dialog {
    width: 900px;
}

.div-left {
    float: left;
    margin-right: 5px;
}

h4 {
    font-size: 25px;
!important;
    font-weight: bold;
!important;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

div.cover {
    font-weight: bold;
    text-align: center;
    margin-top: 250px;
    page-break-after: always;
}

div.chapter {
    page-break-after: always;
}

p.title {
    font-size: 42pt;
}

p.authors {
    font-size: 20pt;
}