// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book_plus_home:before,
.book_plus_home:after {
  content: " ";
  display: table;
}
.book_plus_home:after {
  clear: both;
}
.book_plus_home {
  *zoom: 1;
}

.box_00 {
  float: left;
  width: 33%;
  border-width:1px;
  border-style:solid;
  padding:2.5em;
  text-align:justify;
  border-bottom-left-radius: 40px 80px;
  border-bottom-right-radius: 40px 80px;
  border-top-left-radius: 40px 80px;
  border-top-right-radius: 40px 80px;
}
.box_01 {
  float: left;
  width: 33%;
  border-width:1px;
  border-style:solid;
  padding:2.5em;
  text-align:justify;
  border-bottom-left-radius: 40px 80px;
  border-bottom-right-radius: 40px 80px;
  border-top-left-radius: 40px 80px;
  border-top-right-radius: 40px 80px;
}

